<p>
    <a href="http://vagrantup.com/" target="_blank">Vagrant</a> is
    an amazing tool for managing virtual machines via a simple to
    use command line interface. With a simple vagrant up you can
    be working in a clean environment based on a standard
    template.
</p>
<p>
    These standard templates are called <a
        href="http://docs.vagrantup.com/v2/boxes.html"
        target="_blank">base boxes</a>, and this website is simply
    a list of boxes people have been nice enough to make publicly
    available.
</p>

<p>
    <!--<div>-->
        <!--<span ng-repeat="distro in distributions">-->
            <!--<input checked  type="checkbox" ng-model="distro.show"> {{distro.name}}-->
        <!--</span>-->
    <!--</div>-->

    <div class="btn-group" >
        <button ng-repeat="distro in distributions" type="button" class="btn btn-primary" ng-model="distro.show" btn-checkbox>{{distro.name}}</button>
    </div>
</p>

<p>
    <!--<div>-->
        <!--<span ng-repeat="arch in architectures">-->
            <!--<input checked  type="checkbox" ng-model="arch.show"> {{arch.name}}-->
        <!--</span>-->
    <!--</div>-->

    <div class="btn-group" >
        <button ng-repeat="arch in architectures" type="button" class="btn btn-primary" ng-model="arch.show" btn-checkbox>{{arch.name}}</button>
    </div>
</p>

<p>
    <!--<div>-->
        <!--<span ng-repeat="provider in providers">-->
            <!--<input checked  type="checkbox" ng-model="provider.show"> {{provider.name}}-->
        <!--</span>-->
    <!--</div>-->
    <div class="btn-group" >
        <button ng-repeat="provider in providers" type="button" class="btn btn-primary" ng-model="provider.show" btn-checkbox>{{provider.name}}</button>
    </div>
</p>

<p>
    <div class="slider" style="width: 140px;">
        <div class="slider-track">
            <div class="slider-handle round" style="left: 50%;"></div>
        </div>

        <input id="sl1" type="text" class="span2" style="width: 600px"
               data-slider-orientation="horizontal"
               data-slider-selection="after"
               data-slider-tooltip="hide">
    </div>

    <!--
        This input is just a hack to build a bridge between jquery and angularjs.
        An input of the type 'hidden' didn't work as a bridge so we use a text
        input and hide via css.
    -->
    <input id="size_minmax_filter" type="text" style="display: none;"
           ng-model="size.minmax_show.max" />
</p>
        
<table class="table">
    <tr>
        <th>Distribution</th>
        <th>Architecture</th>
        <th>Version</th>
        <th>Provider</th>
        <th>Box</th>
        <th>URL</th>
    </tr>
    <tr ng-repeat="box in boxes" ng-show="isBoxVisible(
        box.distribution.slug, box.architecture, box.provider,
        box.size)" >
        <td>{{box.distribution.name}}</td>
        <td>{{box.architecture}}</td>
        <td>{{box.version.number}} ({{box.version.name}})</td>
        <td>{{box.provider}}</td>
        <td>{{box.name}} ({{box.size}})</td>
        <td>{{box.url}}</td>
    </tr>
</table>

