<p>
    <a href="http://vagrantup.com/" target="_blank">Vagrant</a> is
    an amazing tool for managing virtual machines via a simple to
    use command line interface. With a simple vagrant up you can
    be working in a clean environment based on a standard
    template.
</p>
<p>
    These standard templates are called <a
        href="http://docs.vagrantup.com/v2/boxes.html"
        target="_blank">base boxes</a>, and this website is simply
    a list of boxes people have been nice enough to make publicly
    available.
</p>

<table>
    <tr ng-repeat="box in boxes"><td>{{box.name}}</td></tr>
</table>

