<!--
<p>
    <div class="btn-group" >
        <button ng-repeat="distro in distributions" type="button"
                class="btn btn-default"
                ng-model="distro.show"
                btn-checkbox>{{distro.name}}</button>
    </div>
</p>

<p>
<div class="btn-group" >
    <button ng-repeat="arch in architectures" type="button"
            class="btn btn-default"
            ng-model="arch.show"
            btn-checkbox>{{arch.name}}</button>
</div>
</p>

<p>
<div class="btn-group" >
    <button ng-repeat="provider in providers" type="button"
            class="btn btn-default"
            ng-model="provider.show"
            btn-checkbox>{{provider.name}}</button>
</div>
</p>
-->
        <!--
<select class="select-test">
    <option>test</option>
    <option>test</option>
    <option>test</option>
</select>

<script>
    $(document).ready(function(){
        $('.select-test').selectpicker();
    });
</script>
-->

<style>
    textarea {
        width: 100%;
        height: 550px;
        resize: none;

        white-space: pre-wrap;
        word-wrap: break-word;
        overflow-wrap: break-word;
        font-size: 10px;
    }
    pre {
        font-size: 10px;
    }
</style>

<!--<textarea onclick="this.select();" readonly>{{json | json}}</textarea>-->

<div class="row">

    <div class="col-md-7">

        <h2>OS & VM</h2>

        Choose the distribution your box is providing. If it's missing, select <em>Others</em>.
        <br>
        <select picker ng-model="selected_distro" ng-options="distro.name for distro in distributions" title="Distribution ..."></select>

        <select picker ng-model="json.architecture" title="Architecture ...">
            <option ng-repeat="arch in architectures">{{arch.name}}</option>
        </select>

        <select picker ng-model="json.provider" class="selectpicker" title="Provider ...">
            <option ng-repeat="provider in providers">{{provider.name}}</option>
        </select>

        <h2>Box</h2>

        <div class="input-group">
            <span class="input-group-addon">Name</span>
            <input ng-model="json.name" type="text" class="form-control" placeholder="Appropriate vm name">
        </div>

        <br>

        <div class="input-group">
            <span class="input-group-addon">Description</span>
            <input ng-model="json.comment" type="text" class="form-control" placeholder="Optional comment to describe the box">
        </div>

        <br>

        <div class="input-group">
            <span class="input-group-addon">Size</span>
            <input  ng-model="json.size" type="text" class="form-control" placeholder="Box size in MB while omitting the unit 'MB'">
        </div>

        <h2>URLs</h2>

        <div class="input-group">
            <span class="input-group-addon">Box</span>
            <input ng-model="json.url" type="text" class="form-control" placeholder="http://example.com/vm.box">
        </div>

        <br>

        <div class="input-group">
            <span class="input-group-addon">Source</span>
            <input ng-model="json.source" type="text" class="form-control" placeholder="URL which with the build files">
        </div>

        <h2>Version</h2>

        <div class="input-group">
            <span class="input-group-addon">Number</span>
            <input ng-model="json.version.number" type="text" class="form-control" placeholder="Something like 6.1 or 2014-02-15 for rolling releases">
        </div>

        <br>

        <div class="input-group">
            <span class="input-group-addon">Name</span>
            <input ng-model="json.version.name" type="text" class="form-control" placeholder="Something like 'Squeeze'">
        </div>

        <h2>Features</h2>

        <div class="row">
            <div class="col-md-6 control-group">
                <label class="control-label">Version Control System</label>
                <div class="controls">
                    <span class="checkbox inline">
                        <input ng-model="json.features.vcs.git" type="checkbox" id="checkboxes-0" name="checkboxes">
                        git
                    </span>
                    <span class="checkbox inline">
                        <input ng-model="json.features.vcs.hg" type="checkbox" id="checkboxes-1" name="checkboxes">
                        hg
                    </span>
                    <span class="checkbox inline">
                        <input ng-model="json.features.vcs.svn" type="checkbox" id="checkboxes-2" name="checkboxes">
                        svn
                    </span>
                </div>
            </div>
            <div class="col-md-6 control-group">
                <label class="control-label">Interpreters</label>
                <div class="controls">
                    <span class="checkbox inline">
                        <input ng-model="json.features.interpreters.ruby" type="checkbox" id="checkboxes-0" name="checkboxes">
                        Ruby
                    </span>
                    <span class="checkbox inline">
                        <input ng-model="json.features.interpreters.php" type="checkbox" value="hg" id="checkboxes-1" name="checkboxes">
                        PHP
                    </span>
                    <span class="checkbox inline">
                        <input ng-model="json.features.interpreters.python" type="checkbox" value="svn" id="checkboxes-2" name="checkboxes">
                        Python
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 control-group">
                <label class="control-label">Database</label>
                <div class="controls">
                    <span class="checkbox inline">
                        <input ng-model="json.features.database.mysql" type="checkbox" id="checkboxes-0" name="checkboxes">
                        MySQL
                    </span>
                    <span class="checkbox inline">
                        <input ng-model="json.features.database.mongodb" type="checkbox" id="checkboxes-1" name="checkboxes">
                        MongoDB
                    </span>
                </div>
            </div>
            <div class="col-md-6 control-group">
                <label class="control-label">Web Server</label>
                <div class="controls">
                    <span class="checkbox inline">
                        <input ng-model="json.features.webserver.apache" type="checkbox" id="checkboxes-0" name="checkboxes">
                        Apache
                    </span>
                    <span class="checkbox inline">
                        <input ng-model="json.features.webserver.lighttpd" type="checkbox" id="checkboxes-1" name="checkboxes">
                        Lighttpd
                    </span>
                    <span class="checkbox inline">
                        <input ng-model="json.features.webserver.nginx" type="checkbox" id="checkboxes-1" name="checkboxes">
                        Nginx
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 control-group">
                <label class="control-label">Configuration Management</label>
                <div class="controls">
                    <span class="checkbox inline">
                        <input ng-model="json.features.chef" type="checkbox" id="checkboxes-0" name="checkboxes">
                        Chef
                    </span>
                    <span class="checkbox inline">
                        <input ng-model="json.features.puppet" type="checkbox" id="checkboxes-1" name="checkboxes">
                        Puppet
                    </span>
                </div>
            </div>
            <div class="col-md-6 control-group">
                <label class="control-label">Virtual Machine</label>
                <div class="controls">
                    <span class="checkbox inline">
                        <input ng-model="json.features.guest_additions" type="checkbox" id="checkboxes-0" name="checkboxes">
                        VirtualBox Guest Additions
                    </span>
                    <span class="checkbox inline">
                        <input ng-model="json.features.vmware_tools" type="checkbox" id="checkboxes-1" name="checkboxes">
                        VMware Tools
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">Copy the JSON to <a href="https://github.com/VagrantBoxes/vagrantboxes/tree/master/app/boxes" target="_blank">{{selected_distro.slug}}.json</a>.<pre onclick="this.select();">{{json | json}},</pre></div>
</div>